body {
  background-image: url('../img/nhan-nguyen-nNm1c2lF1Es-unsplash.jpg');
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
section{
  height: 100%;
  width: 100%;
}
p{
  color: transparent;
}
#scroll {
  position: relative;
  height: 100vh; /* or your desired height */
  overflow: hidden;
}

.half-moon {
  width: 100%;
  left: 0;
}

.half-moon.top {
  top: 0;
  transform: rotate(180deg);
  transform-origin: center;
}

.half-moon.bottom {
  bottom: 0;
}

.com{
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
